# HDRMontage default configuration file
# format: parameter=value or parameter="stringvalue", no SPACES!

###############################################################################
#
# Input file information
#
###############################################################################
#Input0File="/Volumes/LACIE/HDR Content/ftp.tnt.uni-hannover.de/testsequences/half-float-sequences/Balloon_1920x1080p_25_hf_709/Balloon_1920x1080p_25_hf_709_%05d.exr" # 1st Input file name
Input0File="con_FireEater2Clip4000r1_1920x1080p_25_hf_P3_ct2020_444_%05d.tiff"# 1st Input file name
Input1File="con_FireEater2Clip4000r1_1920x1080p_25_hf_P3_ct2020_444_%05d.tiff"# 1st Input file name
LogFile="distortion.txt"                                       # Output Log file name
NumberOfFrames=3                                               # Number of frames to process
SilentMode=0                                                   # Enable Silent mode


###############################################################################
#
# First input parameters
#
###############################################################################
Input0Width=1920                                               # 1st Input source width
Input0Height=1080                                              # 1st Input source height
Input0ChromaFormat=3                                           # 1st Input Chroma Format
                                                               # 0 : 400
                                                               # 1 : 420
                                                               # 2 : 422
                                                               # 3 : 444
Input0Interleaved=0                                            # 1st Input Interleaved Source
Input0Interlaced=0                                             # 1st Input Interlaced Source

Input0FourCCCode=0                                             # 1st Input Pixel Format
                                                               # 0: UYVY
                                                               # 1: YUY2
                                                               # 2: YUYV
                                                               # 3: YVYU
                                                               # 4: BGR
                                                               # 5: V210
                                                               # 6: Y444I
Input0BitDepthCmp0=10                                          # 1st Input Bitdepth Cmp0
Input0BitDepthCmp1=10                                          # 1st Input Bitdepth Cmp1
Input0BitDepthCmp2=10                                          # 1st Input Bitdepth Cmp2
Input0ColorSpace=1                                             # 1st Input Color Space
                                                               # 0: YUV
                                                               # 1: RGB
                                                               # 2: XYZ
Input0ColorPrimaries=0                                         # 1st Input Color Primaries
                                                               # 1: BT.2020
                                                               # 2: P3D60
                                                               # 3: P3D65
                                                               # 4: None
Input0SampleRange=0                                            # Sample Range:
                                                               # 0: Standard/Limited/Video
                                                               # 1: Full
                                                               # 2: Restricted
                                                               # 3: SDI Scaled
                                                               # 4: SDI

Input0FileHeader=0                                             # 1st Input Header (bytes)
Input0StartFrame=0                                             # 1st Input Start Frame
Input0FrameSkip=0                                              # 1st Input Frame Skipping
Input0Rate=24.0                                                # 1st Input Frame Rate

Input0CropOffsetLeft=0                                         # 1st Input Crop Offset Left position
Input0CropOffsetTop=0                                          # 1st Input Crop Offset Top position
Input0CropOffsetRight=0                                        # 1st Input Crop Offset Right position
Input0CropOffsetBottom=-10                                      # 1st Input Crop Offset Bottom position
Input0Flip=0                                                   # 1st Input Flip (for butterfly output)

###############################################################################
#
# Second input source parameters
#
###############################################################################
Input1Width=1920                                               # 2nd Input source width
Input1Height=1080                                              # 2nd Input source height
Input1ChromaFormat=3                                           # 2nd Input Chroma Format
                                                               # 0 : 400
                                                               # 1 : 420
                                                               # 2 : 422
                                                               # 3 : 444
Input1Interleaved=0                                            # 2nd Input Interleaved Source
Input1Interlaced=0                                             # 2nd Input Interlaced Source

Input1FourCCCode=0                                             # 2nd Input Pixel Format
                                                               # 0: UYVY
                                                               # 1: YUY2
                                                               # 2: YUYV
                                                               # 3: YVYU
                                                               # 4: BGR
                                                               # 5: V210
                                                               # 6: Y444I
Input1BitDepthCmp0=10                                          # 2nd Input Bitdepth Cmp0
Input1BitDepthCmp1=10                                          # 2nd Input Bitdepth Cmp1
Input1BitDepthCmp2=10                                          # 2nd Input Bitdepth Cmp2
Input1ColorSpace=1                                             # 2nd Input Color Space
                                                               # 0: YUV
                                                               # 1: RGB
                                                               # 2: XYZ
Input1ColorPrimaries=0                                         # 2nd Input Color Primaries
                                                               # 1: BT.2020
                                                               # 2: P3D60
                                                               # 3: P3D65
                                                               # 4: None
Input1SampleRange=0                                            # Sample Range:
                                                               # 0: Standard/Limited/Video
                                                               # 1: Full
                                                               # 2: REstricted
                                                               # 3: SDI Scaled
                                                               # 4: SDI

Input1FileHeader=0                                             # 2nd Input Header (bytes)
Input1StartFrame=0                                             # 2nd Input Start Frame
Input1FrameSkip=0                                              # 2nd Input Frame Skipping
Input1Rate=24.0                                                # 2nd Input Frame Rate

Input1CropOffsetLeft=0                                         # 2nd Input Crop Offset Left position
Input1CropOffsetTop=0                                          # 2nd Input Crop Offset Top position
Input1CropOffsetRight=0                                        # 2nd Input Crop Offset Right position
Input1CropOffsetBottom=-10                                      # 2nd Input Crop Offset Bottom position
Input1Flip=0                                                   # 2nd Input Flip (for butterfly output)

###############################################################################
#
# Output file information
#
###############################################################################
OutputFile="Output_%05d.tiff"
OutputWidth=1920                                               # 2nd Input source width
OutputHeight=1080                                              # 2nd Input source height


OutputRate=24.0          # output frame rate
OutputChromaFormat=3     # Output Chroma format
# 0 : 400
# 1 : 420
# 2 : 422
# 3 : 444

OutputBitDepthCmp0=16    # bit depth of luma component for distortion computation
OutputBitDepthCmp1=16    # bit depth of u/cb component for distortion computation
OutputBitDepthCmp2=16    # bit depth of v/cr component for distortion computation
OutputColorSpace=0       # 0: CM_YCbCr
# 1: CM_RGB
# 2: CM_XYZ
# 3: CM_YDzDx
# 4: CM_YCbCr_CL
# 5: CM_YFBFRV1
# 6: CM_YFBFRV2
# 7: CM_YFBFRV3
# 8: CM_YFBFRV4


OutputColorPrimaries=0   # 0: BT.709
# 1: BT.2020
# 2: P3D60
# 3: P3D65
# 4: None
OutputSampleRange=3      # Sample Range:
# 0: Standard/Limited/Video
# 1: Full
# 2: Restricted
# 3: SDI Scaled
# 4: SDI
OutputTransferFunction=1 # Transfer Function
# 0: NULL (no new TF applied)
# 1: PQ
# 2: PH
# 3: Hybrid Gamma TF
# 4: Adaptive PQ
# 5: Adaptive PH
# 6: Power Law Gamma
OutputSystemGamma=1.0    # Overall Output System gamma for Hybrid Gamma TF or Power Law TF. Default value = 1.0


###############################################################################
#
# Crop Destination
#
###############################################################################

DestinationMinPosX0=0
DestinationMaxPosX0=950
DestinationMinPosY0=0
DestinationMaxPosY0=1079
DestinationMinPosX1=970
DestinationMaxPosX1=1919
DestinationMinPosY1=0
DestinationMaxPosY1=1079



