<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChromaConvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HDRConvScaler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HDRConvert copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HDRConvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HDRMetrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HDRMontage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HDRToolsCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HDRVQM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Sim2Convert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5133DD519CCF31100D64D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5133E3C19CCF62A00D64D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5133E6219CCFACC00D64D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5586A0E1EC632AD00B3DB60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C567FCE51A44E149006035B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C580D7491CAF47F500E01A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5BE37AF1B752D2D00350F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DE88FC1A119FE400248B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F1E39C19D23C7E00327932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
